
.carousel-item{
    padding: 20px 40px;
    
  }
  .price{
    color: #FF136F;
}
.buy-now-button{
  background-image: linear-gradient(to bottom ,black 0% , #FF136F 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
  display: block;
  margin: 0 auto;

}

.card{
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
  background-color: white;
  border-top: none;
}


.d-flex{
  float: right;
  padding: 20;
}

